html {
    height: 100%;
    width: 100%;
    overflow: auto;
}

body {
    background-image: url('https://images.unsplash.com/photo-1586074299757-dc655f18518c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 40px inset rgb(66, 63, 63);
    overflow: auto;   
}

.searchBox{
    display: block;
    background-color:rgba(231, 190, 231, 0.5);
    border:5px ridge rgb(97,84,84);
    border-radius: 50px;
    text-align:center;
    font-family:'VT323', monospace;
    font-size: 28px;
    transform: translate(-50%, -50%);
    outline: none;
    box-shadow: 5px 10px 10px ;
}

.searchBox::placeholder{
    text-align: center;
}

#pokeBall1{
    transform: rotate(90deg);
    font-size: 22px;
    background-color: transparent;
    color:red;
}

#pokeBall2{
    font-size: 22px;
    transform: rotate(90deg);
    background-color: transparent;
    color:red;
}
#nextBtn{
    font-size: 75px;
    background-color: rgba(231, 190, 231, 0.5);
    margin-right: 135px;
    padding: 0px;
    border: 5px ridge rgb(97,84,84);
    border-radius: 50px;
    box-shadow: 0px 5px 5px;
}

#nextBtn:hover{
 transform: scale(1.1);
 transition-duration: 0.3s;
 box-shadow: 5px 10px 10px;
}

#prevBtn{
    font-size: 75px;
    background-color: rgba(231, 190, 231, 0.5);
    padding: 0px;
    border: 5px ridge rgb(97, 84, 84);
    border-radius: 50px;
    box-shadow: 0px 5px 5px;
}

#prevBtn:hover{
    transform: scale(1.1);
    transition-duration: 0.3s;
    box-shadow: 5px 10px 10px;
}


#imageOne{
    height: 70%;
    width: 60%;
    image-rendering:pixelated;
    animation-name: breathe;
    animation-iteration-count: infinite; 
    animation-duration: 1.4s;
    animation-timing-function: ease-in-out;
}

@keyframes breathe{
    0%{transform: scale(1.002);}
    50%{transform: scale(1.01);}
    100%{transform: scale(1);}
}

#goBack{
    font-size: 36px;
    background-color: transparent;
    font-family: 'VT323', monospace;
    margin-left: 84px;
    border: 5px ridge rgb(97, 84, 84);
    background-color: rgba(231, 190, 231, 0.5);
    border-radius: 50px;
    box-shadow: 0px 5px 5px;
}

#goBack:hover{
    transform: scale(1.1);
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    box-shadow: 5px 10px 10px;
}



.container {
    background-color: rgba(231, 190, 231, 0.5);
    border: 20px double black;
    border-radius: 10px;
    margin-bottom: 60px;
    margin-left: 150px;
    box-shadow: 5px 10px 10px;
    
}

/* button {
    color: black;
    border: transparent;    
} */

p {
    font-size:50px;
    font-family: 'VT323', monospace;
    line-height: 1.2;
    text-align: center;
    padding-top:10px;
}

